:root {
  --text-primary: #f9d094;
}
html {
  min-width: 300px;
  width: fit-content;
  font-family: system-ui, sans-serif;
}
body {
  margin: 0;
  color: var(--text-primary);
  background-color: #2e2a24;
}
* {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
}
table.results-table {
  width: calc(100% - 32px);
  box-sizing: border-box;
  margin: 16px;
  font-size: 1.2em;
  border-collapse: collapse;
}
.results-table tbody tr:first-child td {
  padding: 2px;
}
.results-table tr.primary-result {
  font-weight: bold;
  background-color: #458ee11a;
}
.results-table th {
  text-align: left;
  font-size: 1.2em;
  border-bottom: 1px solid white;
}
.results-table td {
  padding: 4px;
  white-space: nowrap;
}
.results-table td:first-child {
  text-align: right;
}
.results-table td:nth-child(2) a {
  color: #be862d;
}
.results-table td:nth-child(3) {
  white-space: nowrap;
  text-align: center;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.fa {
  text-decoration: none;
}
a.fa:hover {
  opacity: 0.75;
}
a.fa:active {
  opacity: 0.5;
}
p {
  padding: 0 12px 4px;
  text-align: center;
  font-size: 1.2em;
}