html {
  min-width: 300px;
  width: fit-content;
  font-family: system-ui, sans-serif;
}
h1 {
  position: sticky;
  top: 0;
  margin: 0;
  background: var(--bg-primary);
  padding: 0.67em 0;
  z-index: 1;
}
p {
  margin-top: 0;
}
.inactive-link:hover {
  text-decoration: none;
  cursor: default;
}
.copyhover:hover {
  opacity: 0.85;
  text-decoration: none;
}
.copyhover:active {
  opacity: 0.5;
  text-decoration: none;
}
p.nocontent:not(.settings-link) {
  margin-bottom: 0.5em;
  color: var(--text-primary);
}
.settings-link a {
  font-size: 1.3em;
  color: var(--text-secondary);
}
