body {
  padding: 16px 15%;
  max-width: 1100px;
  margin: auto;
  font-size: 18px;
}
h2 {
  margin-top: 1.2em;
}
label {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
label > input[type="radio"] {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
label > input[type="number"] {
  width: 80px;
  padding: 6px 8px;
  margin-left: 8px;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 16px;
    padding: 16px 32px
  }
}
@media only screen and (max-width: 700px) {
  body {
    padding: 16px 40px
  }
}
